/Documents/NetBeansProjects/FIFOS/target/
/Desktop/FIFOSJOSE/FIFOS/target/
/Documents/NetBeansProjects/Fifo/nbproject/private/
/Documents/NetBeansProjects/Fifo/build/
/Documents/NetBeansProjects/Bolita/nbproject/private/
/Documents/NetBeansProjects/Bolita/build/
